<!Doctype Html>
<meta charset="UTF-8">
<Html>   
<Head>  
  <link rel="stylesheet" href="style.css"> 
  {% load static %} 
<Title>   
pdf
</Title>
<style>
    pa1{
        font-style:italic;
        font-color:green;
        font-size:30px;
    }
    body{
        background-color:lightcyan;
    }
</style>
</Head>
<header>Thanks</header>
<Body>

 
  
 <div class="contianer"> 
  <p class="pa1">
      Thanks for your contribution!!!!!!!!!
      <br>
      Thank you for donating to our organisation. Because of your generosity, we were able to plant trees and spread greenery all around. With your help, we will continue to buy seeds, planting equipments and all the essential to plant tree . 

If you have any questions, please don’t hesitate to contact .
   
   
</Body>
</Html>