<!Doctype Html>
<meta charset="UTF-8">
<Html>   
<Head>  
  <link rel="stylesheet" href="style1.css"> 
  {% load static %} 
<Title>   
BUY SEEDS
</Title>
</Head>
<header> Importance of planting Tree's</header>
<Body>
  {% load static %}
  <img  class="img1" align ="right" src={%static "2018-01-12-trees.jpg" %} width="250" height="250" >  
 <div class="contianer"> 
  <p class="pa1">Since the very beginning trees have given us the gift of life's essentials, such as food and oxygen. 
    Many generations passed and we discovered other many uses of trees and exploited them for our survival.
     They are so rich in value and significance that their uses have only increased as to satisfy the needs 
     created by our modern lifestyles.
     To begin with, the wood from the trees was used as fuel and the fruits were consumed by humans. The shade was used to escape heat and fire to escape in cold. 
    As we evolved and started having modern problems, trees yet remained the same but cater to our modern problems as well.</p> 
    <div><p class="pa2">Trees can cut down on energy and conserve a lot of electricity if planted in the right place and they provide you with the richest oxygen available in the atmosphere. However, we overlook these benefits and take trees for granted. We cut the very trees that give us so much to live with and then mull over the fact that nature is being unfair. Well, 
      we need to respect Mother Nature and value the great advantages that trees bless us with every day. </p></div>
 <div><p class="pa2">
    A tree, in its entirety has the ability to contribute each of its parts to sustain life. 
    From its leaves to the roots and its bark, every part of a tree has something to offer and has profound value. 
    To make you well-equipped with the benefits,here is a breakdown of the categories of perks that trees provide us, free of cost!
 </p></div></div>
   <!-- <img  class="img1"align ="right" src="images/2018-01-12-trees.jpg" width="250" height="250" >  -->
   <!-- <p class="pa1">Since the very beginning trees have given us the gift of life's essentials, such as food and oxygen.  -->
   <!-- Many generations passed and we discovered other many uses of trees and exploited them for our survival. -->
   <!-- They are so rich in value and significance that their uses have only increased as to satisfy the needs  -->
   <!-- created by our modern lifestyles.</p>  -->
   <p class="click">click below link to join us 	&#128515;</p>
   <div class="bt1"><a href="#"><button class="btn1">Join us </button></a></div>
</Body>
</Html>