<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Now</title>
</head>
<body>
    In agriculture, sometimes even the simplest of concepts can encourage better practice and dramatically improve the qualities of your produce. Back in June 2014 I decided to hop on the bandwagon after a good friend of mine (and much better agriculturalist), recommended I start to save seeds for the benefit of both myself and my customers.

    Now over the years I have grown a wide variety of food, so I was sceptical at first as to whether it was really worth the time to start ‘brownbagging’ and collecting seeds for reproduction. It’s more common these days to purchase seeds directly from a supplier on an annual basis, which many of you will know, isn’t cheap at all. Hence, saving seeds is similar to saving money – A seed saved is a seed earned!
    
    You might, like I was, be pretty keen to get started on a little project of your own, so that you can see first-hand the pros (and minimal cons) of protecting and reproducing the seeds you already own for generations to come.
    
    <br>
    Why should We start saving seeds
    
    Permaculture is all about living lightly on the planet, and working with nature to build and manage a sustainable ecosystem from which we can comfortably supply many generations to come. But, as with everything in modern society, this can only happen if it proves to be cost effective. Seed saving is a great starting point for developing a strong foundation for your produce, not only does it build a stronger gene pool, but it also saves you a tonne of money in the process.
    {% load static %}
  <img  class="img1" align ="right" src={%static "seed.jpg" %} width="250" height="250" > 
  <div class="bt1"><a href="/"><button class="btn1">Join us </button></a></div>
</body>
</html>